<h1>Listing metrics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Instrumenter</th>
    <th>Payload</th>
    <th>Started at</th>
    <th></th>
    <th></th>
  </tr>

<% @metrics.each do |metric| %>
  <tr>
    <td><%= metric.name %></td>
    <td><%= metric.duration %></td>
    <td><%= metric.instrumenter_id %></td>
    <td><%= metric.payload.inspect %></td>
    <td><%= metric.started_at %></td>
    <td><%= link_to 'Show', metric %></td>
    <td><%= link_to 'Destroy', metric, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
