<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <% if @user.new_record? %>
      <%= f.submit 'Create' %>
    <% else %>
      <%= f.submit 'Update' %>
    <% end %>
  </div>
<% end %>
