<%= rails_metrics_table_row_for metric do %>
  <td class="when">
    <%= metric.started_at.strftime("%d %b %H:%M:%S") %>
  </td>

  <td class="method">
    <%= metric.payload[:method] %>
  </td>

  <td class="path">
    <%= metric.payload[:path] %>
  </td>

  <td class="duration">
    <%= "%.1f" % metric.duration_in_ms %> ms
  </td>

  <td class="actions">
    <% add_action_links!(metric) %>
  </td>
<% end %>