<% if @metrics.empty? %>
  <h2>No metrics so far, navigate on your app and come back.</h2>
<% else %>
  <% content_for(:rails_metrics_header) do %>
    <%= paginated_index_header %>

    <% form_tag url_for(params.merge(:action => "destroy_all")), :method => :delete do %>
      <%= submit_tag "Delete all", :onclick => "return confirm('Are you sure you want to delete those #{@metrics_count} metrics?')" %>
    <% end %>
  <% end %>

  <table id="rails_metrics_table" class="index">
    <tr>
      <th>Instrumenter<%= link_to_clear_scope(:instrumenter_id) %></th>
      <th>Name<%= link_to_clear_scope(:name) %></th>
      <th>Duration</th>
      <th>Payload</th>
      <th>When</th>
      <th></th>
      <th></th>
    </tr>

    <%= render :partial => "table_row", :collection => @metrics, :as => :metric %>
  </table>
<% end %>