<h3>Viewing metric #<%= @metric.id %></h3>

<table id="rails_metrics_table" class="show">
  <tr class="odd">
    <td>Request</td>
    <td><%= link_to_set_by_scope @metric, :request_id %></td>
  </tr>

  <tr class="even">
    <td>Name</td>
    <td><%= link_to_set_by_scope @metric, :name %></td>
  </tr>

  <tr class="odd">
    <td>Duration</td>
    <td><%= @metric.duration %> ms</td>
  </tr>

  <tr class="even">
    <td>Payload</td>
    <td class="payload"><%= payload_inspect(@metric.payload) %></td>
  </tr>

  <tr class="odd">
    <td>Started at</td>
    <td><%= @metric.started_at %></td>
  </tr>

  <tr class="even">
    <td>Created at</td>
    <td><%= @metric.created_at %></td>
  </tr>
</table>


<%= link_to 'Back', rails_metrics_path %>
