<% content_for(:rails_metrics_header) do %>
  Showing metric #<%= @metric.id %>
  <div class="actions"><% add_action_links!(@metric) %></div>
<% end %>

<table id="rails_metrics_table" class="show">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>

  <tr class="odd">
    <td>Name</td>
    <td><%= link_to_set_by_scope @metric, :name %></td>
  </tr>

  <tr class="even">
    <td>Request</td>
    <td><%= link_to @metric.request_id, chart_rails_metric_path(@metric.request_id) %></td>
  </tr>

  <tr class="odd">
    <td>Duration</td>
    <td><%= @metric.duration_in_ms %> ms</td>
  </tr>

  <tr class="even">
    <td>Payload</td>
    <td class="payload"><%= payload_inspect(@metric.payload) %></td>
  </tr>

  <tr class="odd">
    <td>Started at</td>
    <td><%= @metric.started_at %></td>
  </tr>

  <tr class="even">
    <td>Created at</td>
    <td><%= @metric.created_at %></td>
  </tr>
</table>